.l-albums {
    overflow: scroll;

    >div {
        padding: 0 1.8rem;
        height: 38.1rem
    }
}

.l-tags {
    z-index: 1;
    height: 16.3rem;
    max-height: 16.3rem;
    margin-top: 16rem;
    padding-bottom: 2.5rem;

    .ttl {
        font-size: 2.2rem;
        font-weight: 800;
        color: rgb(230, 230, 230);
        line-height: 3.1rem;
        margin-bottom: 1.5rem;
    }
}

.l-more-tags {
    z-index: 1;
    top: 22.1rem;
    // opacity: 0;

    // padding-left: 12.6rem;
    padding-left: 9.8rem;
    // left: -100%;
    //   -webkit-transform: rotateY(-180deg);
    //         transform: rotateY(-180deg);
    // -webkit-transform-origin: right;
    //         transform-origin: right;

    .ttl {
        font-size: 1.8rem;
        line-height: 2.5rem;
        margin-bottom: $kernning * 2;
        margin-top: $kernning * 8;
        padding-left: 0.6rem;

    }
}