.search-bar {
    height: 4rem;
    width: 4rem;
    right: 0.25rem;
    position: relative;
    border-radius: 2rem;
    background: $c-3;

    box-sizing: border-box;
    background-clip: padding-box;
    /* !importanté */
    border: solid 1px transparent;
    // -------------
    transition: width .3s;

    &.is-open {
        input {
            height: calc(4rem - 2px);
            width: calc(100% - 4rem);
            text-indent: 3rem;
            opacity: 1;
        }
    }

    input {
        transition: width .3s, opacity .3s .3s;
        width: 0;
        opacity: 0;
        outline: none;

    }

    /* !importanté */
    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        margin: -1px;
        /* !importanté */
        border-radius: inherit;
        /* !importanté */
        @extend %gardient--1;
    }

    &.is-open {
        width: calc(100% + 4rem)
    }
}


.l-albums {
    overflow: scroll;

    >div {
        padding: 0 1.8rem;
        height: 36.7rem
    }
}