.l-tags {
    .j-tabs--is-open & {
        transition: $transition_in;
        opacity: 0;
        // transition-delay: .2s;
        // padding-left: 12.6rem;
    }

    .j-tabs--is-close & {
        transition: $transition_out;
        transition-delay: .2s;
        opacity: 1;
    }
}

.l-albums {
    .j-tabs--is-open & {
        transition: $transition_in;
        // transition-delay: .2s;
        opacity: 0;
    }

    .j-tabs--is-close & {
        transition: $transition_out;
        transition-delay: .2s;
        opacity: 1;

    }
}



.l-more-tags {
    .j-tabs--is-open & {
        transition: $transition_in;
        transition-delay: .3s;
        // padding-left: 12.6rem;
        opacity: 1;
    }

    .j-tabs--is-close & {
        transition: $transition_out;
        // transition-delay: .3s;
        // opacity: 1;
        opacity: 0;
        // right: 100%;
        top: 100%;

    }
}

.header--1 {
    .logo {
        transition: $transition_out;
        transform: translateX(0) rotate(0);
    }

    .logo-text {
        transition: $transition_out;
        transform: translateX(0);
    }

    &.is-open {
        .logo {
            transition: $transition_in;
            transform: translateX(-4rem * 3.14) rotate(-360deg);
        }

        .logo-text {
            transition: $transition_in;
            transform: translateX(-4rem * 3.14);
        }
    }
}